################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/HotRS.Tools.Core/obj
/HotRS.Tools.Core/bin
/HotRS.Tools.Core.Tests/bin
/HotRS.Tools.Core.Tests/obj
/HotRS.Tools.Core.IntegrationTests/bin
/HotRS.Tools.Core.IntegrationTests/obj
/ToolsCoreTestApp/bin
/ToolsCoreTestApp/obj
/packages
*.user
/TestResults
/HotRS.Tools.Core.Tests/.vs/RK.HotRS.Tools.Core.Tests/DesignTimeBuild
/HotRS.Tools.Core.Tests/.vs/RK.HotRS.Tools.Core.Tests/v16/.suo
/RK.HotRS.Tools.Core.IntegrationTests/bin
/RK.HotRS.Tools.Core.IntegrationTests/obj/Debug
/RK.HotRS.Tools.Core.IntegrationTests/obj/Release
/RK.HotRS.Tools.Core.IntegrationTests/obj/staticwebassets.pack.sentinel
/RK.HotRS.Tools.Core.IntegrationTests/obj/RK.HotRS.Tools.Core.IntegrationTests.csproj.nuget.g.targets
/RK.HotRS.Tools.Core.IntegrationTests/obj/RK.HotRS.Tools.Core.IntegrationTests.csproj.nuget.g.props
/RK.HotRS.Tools.Core.IntegrationTests/obj/RK.HotRS.Tools.Core.IntegrationTests.csproj.nuget.dgspec.json
/RK.HotRS.Tools.Core.IntegrationTests/obj/project.nuget.cache
/RK.HotRS.Tools.Core.IntegrationTests/obj/project.assets.json
