################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/RK.HotRS.ToolsCore/obj
/RK.HotRS.ToolsCore/bin
/RK.HotRS.ToolsCore.Tests/bin
/RK.HotRS.ToolsCore.Tests/obj
/RK.HotRS.Tools.Core.IntegrationTests/bin
/RK.HotRS.Tools.Core.IntegrationTests/obj
/ToolsCoreTestApp/bin
/ToolsCoreTestApp/obj
/packages
*.user
/TestResults
/RK.HotRS.ToolsCore.Tests/.vs/RK.HotRS.ToolsCore.Tests/DesignTimeBuild
/RK.HotRS.ToolsCore.Tests/.vs/RK.HotRS.ToolsCore.Tests/v16/.suo
/RK.HotRS.ToolsCore.Tests/TestData
